{% extends "main.html" %}
{% load static %}

{% block body_content %}

{% comment %} Put Your Body Code Here Except for Header and Footer {% endcomment %}


  <!-- ========================================================== -->

  <div class="about-bg">
    <p class="heading">About Us</p>
    <p class="sub-heading">Home <i class="fa-solid fa-arrow-right-long"></i> About Us</p>
  </div>

  <!-- ========================================================== -->

  <div class="mission">
    <p class="heading">Our Mission</p>
    <p class="sub-heading">Help people everywhere live their best with fulfillment, purpose, growth</p>
    <div class="description">
      <p>Welcome to Pivot Point Leaning corem ipsum dolor sit amet consectetur, adipisicing elit. Possimus suscipit vel
        labore praesentium doloremque debitis fugit impedit aliquam nulla similique,edita iure non magni voluptas
        recusandae. eum temporibus providehf my words eum temporibus providehf my words are not just words nt.</p>
      <p>Our missionis to ipsum dolor sit amet consectetur, adipisicing elit. Eaque placeat dignissimos impedit
        quibusdam ad et beatae amet adipisci accusamus voluptates cumque esse, eligendi fugiat expedita iure non magni
        voluptas recusandae. worem ipsum dolor sit amet consectetur adipisicing elit. Sit, quod.</p>
      <p>Pivot focus on Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero cupiditate modi rerum error cum
        nam amet possimus provident alias, quidem unde.</p>
      <p>Our goals Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos magni quaerat, hic unde necessitatibus
        voluptate harum nam quibusdam, blanditiis itaque ducimus dolorum odio, tempore consequuntur illo facilis iure.
      </p>
      <p class="sub-title">Helping you to transform into your best self an work and in life</p>
    </div>
  </div>

  <!-- ========================================================== -->

  {% endblock body_content %}