{% extends "main.html" %}
{% load static %}

{% block body_content %}

{% comment %} Put Your Body Code Here Except for Header and Footer {% endcomment %}

  <!-- ========================================================== -->

  <div class="about-bg">
    <p class="heading">Contact Us</p>
    <p class="sub-heading">Home <i class="fa-solid fa-arrow-right-long"></i> Contact</p>
  </div>

  <!-- ========================================================== -->

  <div class="contact-form">
    <form action="">

      <div class="contact-details">
        <div class="contact-item">
          <i class="fa-solid fa-house"></i>
          <div class="text">
            <p class="title">California, United States</p>
            <p class="sub-title">Santa monica bullevard</p>
          </div>
        </div>
        <div class="contact-item">
          <i class="fa-solid fa-phone"></i>
          <div class="text">
            <p class="title">00 (440) 9865 562</p>
            <p class="sub-title">Mon to Fri 9am to 6pm</p>
          </div>
        </div>
        <div class="contact-item">
          <i class="fa-solid fa-envelope"></i>
          <div class="text">
            <p class="title">support@pivot.com</p>
            <p class="sub-title">Send us your query anytime!</p>
          </div>
        </div>
      </div>

      <div class="input-group">
        <input type="text" placeholder="Enter your name">
        <input type="email" placeholder="Enter email address">
        <input type="text" placeholder="Enter subject">
      </div>

      <div class="message">
        <textarea name="" id="" placeholder="Enter message"></textarea>
      </div>
    </form>
    <div class="btn">
      <button>Send Message</button>
    </div>
  </div>

  <!-- ========================================================== -->

  {% endblock body_content %}