{% extends "main.html" %}
{% load static %}

{% block body_content %}

{% comment %} Put Your Body Code Here Except for Header and Footer {% endcomment %}

  <!-- ========================================================== -->

  <div class="about-bg">
    <p class="heading">PERSONALIZED LEARNING</p>
    <p class="sub-heading">Home <i class="fa-solid fa-arrow-right-long"></i> Personalized Learning</p>
  </div>

  <!-- ========================================================== -->

  <div class="features-resources">
    <div class="features">
      <p class="heading">Welcome to Pivot Point Learning</p>
      <p>At Pivot Point Learning we are enthusiastic about revolutionized learning and growth and learning by tailoring everyone's unique needs and learning styles. Our platform provides a personalized learning experirence that empowers participants to reach their full potential.</p>
      <div class="features-grid">
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Customized Learning Paths</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Adaptive Content</p>
          <p>Discover Coaching and Consultation Services to guide you on your learning journey</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Expert Guidance</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Interactive Learning</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
      </div>
    </div>
  </div>

  <!-- ========================================================== -->

  {% endblock body_content %}