{% extends "main.html" %}
{% load static %}

{% block body_content %}

{% comment %} Put Your Body Code Here Except for Header and Footer {% endcomment %}

  <!-- ========================================================== -->

  <div class="about-bg">
    <p class="heading">RESOURCES</p>
    <p class="sub-heading">Home <i class="fa-solid fa-arrow-right-long"></i> Resources</p>
  </div>

  <!-- ========================================================== -->

  <div class="features-resources">
    <div class="features">
      <p class="heading">Pivot Point - Resources</p>
      <p>Explore a variety of resources to support your personalized learning journey</p>
      <div class="features-grid">
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Personalized Growth Plans</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Coaching and Consultation Services</p>
          <p>Discover Coaching and Consultation Services to guide you on your learning journey</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Assessment and Surveys</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Articles and Blog Posts</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Video Tutorials</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Templates and Worksheets</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Customized Courses</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">E-Books and Guides</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Suggested Podcasts</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
        <div class="feature">
          <div class="img">400 x 200</div>
          <p class="title">Interactive Tools and Apps</p>
          <p>Explore customized growth plans tailored to your unique needs and goals</p>
        </div>
      </div>
    </div>
  </div>

  <!-- ========================================================== -->

  {% endblock body_content %}